.header-name {
    background-color: #4aaaa5;
    float: left;
}

.links {
    float: right;
}

.content {
    clear: left;
}

#myimage{
    float: left;
}

.footer {
    text-align: center;
    color: white;
    background-color: #666666;

}

.main {
    width: 960px;
    margin: 0 auto;
   }
}

